{% include 'navbar.html' %}
{% include 'locksettings.html' %}

<section id="hero" class="section hero-section" data-eltype="frontpagesection">
						<div class="container wide-container section-inner">
							<div class="section-body">
								<div class="fresh-ideas-content">
									<div class="section-header">
										<h2 class="section-title">What is JFC Coding Proxmox Admin Tools?</h2>
										<div class="section-desc">It is a toolkit of useful tools for proxmox. These tools include mass user tools and mass vm tools. All this is done by the Proxmox API so no ssh access is needed. Visit the About section on how to set up access! </div>
									</div>
									
								</div>
							</div>
							<p>&#8203;</p>
							<div class="row justify-content-md-center">
    <div class="col">
     <a href="/users" class="border rounded-lg justify-content-md-center btn btn-light justify-content-center">
      	<i class="fas fa-users fa-7x" ></i>
      	<p></p>
      	<h4>User Tools</h4>
      </a>
    </div>
    <div class="col">
      <a href="/vmTools" class="border rounded-lg justify-content-md-center btn btn-light justify-content-center">
      	<i class="fas fa-desktop fa-7x"></i>
      	<p></p>
      	<h4>VM Tools</h4>
      </a>
    </div>
    <div class="col">
      <a href="/settings" class="border rounded-lg justify-content-md-center btn btn-light justify-content-center">
      	<i class="fas fa-cogs fa-7x"></i>
      	<p></p>
      	<h4>Settings</h4>
      </a>
    </div>
  </div>
						</div>
					</section>
 {% include 'footer.html' %}


